* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

:root {
    --color1: #73BB85;
    --color2: #3B8B6E;
    --color3: #1D5959;
    --color4: #16476F;
    --color5: #0B2B40;
    --base-color: white;
    --text-color: #2E2B41;
    --input-background: #D9D9D9;
}


html {
    font-family: 'Poppins', 'Segoe UI', sans-serif;
    font-size: 15pt;
    color: var(--color5);
    text-align: center;

}

body {
    min-height: 100vh;
    background-image: linear-gradient(180deg, #16476F, #39876E);
}

.btn-grad {
    background-image: linear-gradient(to right, #134E5E 0%, #71B280 51%, #134E5E 100%)
}

.btn-grad {
    margin: 10px;
    padding: 8px 40px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 26px;
    display: block;
}

.btn-grad:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.container-branco {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    color: var(--text-color);
    padding: 50px;
    border-radius: 20px;
    width: 600px;
    height: 370px;

}

.container-branco p {
    text-align: center;
    font-weight: 600;
    line-height: 1.5;
}

.container {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 120px;

}