* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

:root {
    --color1: #73BB85;
    --color2: #3B8B6E;
    --color3: #1D5959;
    --color4: #16476F;
    --color5: #0B2B40;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #ffff;
    transition: 1.5;
}
a:hover {
    color: var(--color5)
}

p {
    font-weight: 500;
    font-size: 20px;
}


.navbar {
    position:absolute;
    top:0;
    left: 0;
    width: 100%;
    padding: 20px 0;
   
    
}

.navbar .container-nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .menu-principal ul {
    display: flex;
}

.navbar ul li a {
    padding: 10px 20px;
    display: block;
    font-weight: 500;
    transition: 0.3s;
}

.navbar ul li a:hover {
    color: var(--color5)
}

.drink {
    position:absolute;
    left: 1020px;
    height: 479px;
    width: 277px;
    margin-top: 7%;

}

.btn1 {
   background-color: var(--color4);
   border:none;
   padding: 15px 32px;
   text-decoration: none;
   display:inline-block;
   height: 170px;
   width: 170px;
   border-radius: 30px;
   font-weight: 500;
   color: #ffff;
   
}
.btn2 {
   background-color: var(--color5);
   border:none;
   padding: 15px 32px;
   text-decoration: none;
   display:inline-block;
   height: 170px;
   width: 170px;
   border-radius: 30px;
   font-weight: 500;
   color: #ffff;
   
}

.btn3 {
   background-color: var(--color2);
   border:none;
   padding: 15px 32px;
   text-decoration: none;
   display:inline-block;
   height: 170px;
   width: 170px;
   border-radius: 30px;
   font-weight: 500;
   color: #ffff;
   
}

.btn4 {
   background-color: var(--color3);
   border:none;
   padding: 15px 32px;
   text-decoration: none;
   display:inline-block;
   height: 170px;
   width: 170px;
   border-radius: 30px;
   font-weight: 500;
   color: #ffff;
   
}

.btn5 {
   background-color: var(--color1);
   border:none;
   padding: 15px 32px;
   text-decoration: none;
   display:inline-block;
   height: 170px;
   width: 170px;
   border-radius: 30px;
   font-weight: 500;
   color: #ffff;
   
}

.container-gradiente {
  width: 100%;
  height: 574px;
  background: linear-gradient(rgba(22,71,111,1), rgba(59,139,110,1));
  opacity: 1;
  position:sticky;
  top: 0px;
  left: 0px;
  overflow: hidden;
  background-size: cover;
}
.container-hero {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
  background-size: cover;
  
}

.text-hero {
    width: 541px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 140px;
  left: 150px;
  font-family: Poppins;
  font-weight: 550;
  font-size: 48px;
  opacity: 1;
  text-align: left;
  
}

.btn-outline-light {
    border-radius: 18px;
}

button {
    border-radius: 90px;
}

.botoes button:hover{
    cursor: default;
}