* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

:root {
    --color1: #73BB85;
    --color2: #3B8B6E;
    --color3: #1D5959;
    --color4: #16476F;
    --color5: #0B2B40;
    --base-color: white;
    --text-color: #2E2B41;
    --input-background: #D9D9D9;
}

body {
  display: flex;
  min-height: 100vh;
  overflow: hidden;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

/* Metade esquerda (gradiente - login) */
.container-gradiente {
  flex: 0.4;
  display: flex;
  flex-direction: column;
  justify-content: center;    
  align-items: center;         
  background: linear-gradient(180deg, #16476F, #3B8B6E);
  color: white;
  padding: 70px;

}

.container-gradiente h1 {
    text-align: center;
}


.container-branco {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;    
  background: white;
  color: var(--text-color);
  padding: 40px;
}

/* Conteúdo de cadastro */
.container-cadastro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  max-width: 400px;
  gap: 20px;
 
}

.container-cadastro img {
  max-width: 150px;
  height: auto;
}

.container-cadastro h1 {
    color: var(--color4)
}
/* Formulários */
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
}
.container-gradiente form input {
  width: 100%;
  background: none;
  border: 1px solid white;
  border-radius: 2rem;
  padding: 12px;
  color: white;
  
}

.container-gradiente button {
    border-radius: 2rem;
    padding: 0.5rem 4rem;
    margin-top: 36px;
}

.container-gradiente a {
    text-decoration: underline;
    color:white;
}

form input {
  width: 100%;
  background: #D9D9D9;
  border: none;
  border-radius: 2rem;
  padding: 12px;
  color: #2E2B41;
}


         .btn-grad {background-image: linear-gradient(to right, #134E5E 0%, #71B280  51%, #134E5E  100%)}
         .btn-grad {
            margin: 10px;
            padding: 15px 45px;
            text-align: center;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px #eee;
            border-radius: 26px;
            display: block;
          }

          .btn-grad:hover {
            background-position: right center; 
            color: #fff;
            text-decoration: none;
          }
         
        
