<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/home.css}"/>
    <link rel="shortcut icon" th:href="@{/img/b&clLogoShort.png}" type="img/png" />
    <title>B&CL</title>
</head>

<body>
    <div class="container-hero">
        <div class="container-gradiente">
            

            <nav class="navbar navbar-expand-md fixed-top">
                <div class="container">

                    <a class="navbar-brand" th:href="@{/home}">
                        <img th:src="@{/img/logoHorizontal.png}" alt="logo" width="250px">
                    </a>


                    <ul class="nav ml-auto">
                        <li class="nav-item "> <a class="nav-link" href="#">Contatos</a></li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Saiba mais</a>
                        </li>
                        <li class="nav-item"><a type="button" class="btn btn-outline-light" th:href="@{/login}">Cadastrar</a></li>
                        <li class="nav-item"><a type="button" class="btn btn-outline-light ml-2" th:href="@{/login}">Entrar</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <span class="text-hero">Um sistema para gestão de pequenos negócios!</span>
            <img class="drink" src="img/drinkAzul.png" style="max-height: 100%;">

        </div> <!--container gradiente-->

        <div class="container p-5 botoes">
            <div class="row">
                <div class="col-sm">
                    <button type="button" class="btn btn1">
                        <img src="img/produtosIcon.png">
                    </button>
                    <p class="mt-3">Produtos do seu comércio, com inclusão, alteração  e exclusão</p>
                </div>
                <div class="col-sm">
                    <button type="button" class="btn btn2">
                        <img src="img/clientesIcon.png">
                    </button>
                    <p class="mt-3">Clientes do seu comércio, com inclusão, alteração  e exclusão</p>
                </div>
                <div class="col-sm">
                    <button type="button" class="btn btn3">
                        <img src="img/vendasIcon.png">
                    </button>
                    <p class="mt-3">Vendas do seu comércio, com inclusão, alteração  e exclusão</p>
                </div>
                <div class="col-sm">
                    <button type="button" class="btn btn4">
                        <img src="img/fornecedoresIcon-2.png">
                        <img src="img/fornecedoresEscrita.png">
                    </button>
                    <p class="mt-3">Fornecedores do seu comércio, com inclusão, alteração  e exclusão</p>
                </div>
                <div class="col-sm">
                    <button type="button" class="btn btn5">
                        <img src="img/boletosIcon.png">
                    </button>
                    <p class="mt-3">Boletos do seu comércio, com inclusão, alteração  e exclusão</p>
                </div>
            </div>
        </div>

    </div> <!--container branco-->


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
        </script>
</body>

</html>